<html>
    <head>
        <title> Home </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="main-body">
        <%- include('header', {links: links}) %>
        <div class="main">
            <ul class="main-ul">
                <% messages.forEach((message, index) => { %>
                    <div class="main-container">
                        <p class="message-sender"><strong>From:</strong>  <span><%= message.user %> </span></p>
                        <p class="message-msg"> <strong>Message:</strong> <%= message.text %></p>
                        <p class="message-date"><strong> Date:</strong> <%= message.added %> </p>
                        <a class="open-btn" href="/message/<%= index %>">Open</a>
                    </div>
               <% }) %>
            </ul>
            <div class="pagination">
                <% if (currentPage > 1) { %>
                    <a href="/?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="/?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                        <%= i %>
                    </a>
                <% } %>
                <% if (currentPage < totalPages) { %>
                    <a href="/?page=<%= currentPage + 1 %>">Next &raquo;</a>
                <% } %>
            </div>
        </div>
    </body>
</html>